/* Aplica al texto el color negro por defecto */
*{
    color: #000000;
    
}

/* Aplica cambio de color al head y body */
head{
    background-color: rgb(242, 242, 242);
}

body{
    background-color: rgb(242, 242, 242);
}

/* Estilos para los campos de entrada y los botones */
input{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c8c6c6;
}

button{
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(84, 105, 212);
    border-radius: 10px;
    border: 1px solid #969696;
    padding: 6px 8px;
}

/* Estilos para los contenedores principales */
.cont-principal-pag1{
    justify-content: center;
    align-items: center;
}

.cont-principal-pag2{
    margin: 0 auto;
    display: grid;
    /* Usa grid para dividir en 3 columnas iguales */
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
}


/* Clases para centrar el contenido */
.login{
    text-align: center;
}

.register{
    text-align: center;
}

.home{
    text-align: center;
}

.centro{
    text-align: center;
}

/* Estilo para las imagenes */
.img{
    width: 350px;
    margin: 30px;
}

/* Estilos para las columnas de la página interior */
.div-1{
    background-color: #ff85ef;
    border-radius: 30px;
    margin: 20px;
}

.div-2{
    background-color: #8d8d8d;
    border-radius: 30px;
    margin: 20px;
}

.div-3{
    background-color: #9389ff;
    border-radius: 30px;
    margin: 20px;
}

/* Estilos para el contenedor de la pokedex */
.pokedex {
    background-color: #121557;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.poketitulo {
    color: white;
    margin-bottom: 15px;
}

.pokebuscador {
    margin-bottom: 15px;
}

.pokebuscador input {
    padding: 8px;
    border-radius: 10px;
    border: none;
    width: 60%;
}

.pokebuscador button {
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    background-color: #212121;
    color: white;
}

.pokecaja {
    background-color: #dddddd;
    padding: 15px;
    border-radius: 15px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}